p {
  margin: 0;
  padding: 0;
}

/*_____________ itens minicart_____________ */

.list-group {
  border-radius: 0;
  overflow: auto;
  flex-grow: 1;
  border-bottom: 1px solid #80808040;
}

.empty-cart {
  color: #8e5644;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
}
.empty-cart-content {
  height: 100%;
  align-items: center;
  display: flex;
  margin: 0 auto;
}

.list-item {
  align-items: center;
  justify-content: space-between;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #80808040;
  margin-top: 8px;
  padding-bottom: 8px;
}

.list-item:last-child {
  border-bottom: none;
}

.list-item .product-image {
  width: 5rem;
}

.list-item-info {
  width: 100px;
}

.product-name {
  height: 20px;
  overflow: hidden;
  font-size: 0.85rem;
  font-weight: 600;
}

.product-price,
.product-description,
.quantity-item {
  font-size: 0.85rem;
  margin: 0;
  color: grey;
}

.product-price {
  font-weight: 600;
}

.quantity-container {
  border: 1px solid #80808040;
  max-width: 94px;
  border-radius: 4px;
  padding: 8px;
  height: 28px;
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  font-size: 0.85rem;
}

.quantity-item {
  margin: 0;
  width: 32px;
  text-align: center;
}

.list-item button {
  display: flex;
  justify-content: right;
  background-color: transparent;
  border: none;
}

/* _____________MINICART_____________ */

/* .minicart-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  animation-duration: 1s;
  transition: all 400ms ease;
  z-index: 0;
} */

.minicart-content {
  margin-right: 0;
  max-width: 400px;
  height: 100vh;
  right: 0;
  bottom: 0;
  display: none;
  background-color: white;
  z-index: 2;
}

.minicart-content-active {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 16px;
  z-index: 2;
  transition: all 400ms ease;
}

.minicart-content ::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}

.minicart-content ::-webkit-scrollbar-thumb {
  background: #8e5644;
  border-radius: 50px;
}

.minicart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 16px 0;
  color: #8e5644;
  border-bottom: 1px solid #80808040;
}

.minicart-header .close-icon {
  width: 12px;
}

.minicart-header h3 {
  font-weight: 300;
  margin: 0;
}

.minicart-header button {
  background-color: transparent;
  border: none;
}

.minicart-footer {
  margin-bottom: 0;
  padding: 0;
}

.minicart-footer-div {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: space-between;
}

.button-primary {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #8e5644;
  border: none;
  border-radius: 4px;
  color: white;
  margin-top: 8px;
  font-weight: 300;
}

.button-primary:hover {
  background-color: #7b422f;
}

.button-primary:active {
  background-color: #7b422f !important;
}

.button-secondary {
  width: 100%;
  height: 50px;
  border: 1px solid #8e5644;
  color: #8e5644;
  background-color: white;
  margin: 16px auto 10px auto;
}
.button-secondary:hover {
  background-color: white;
  color: #7b422f;
  border: 1px solid #7b422f;
}

.list-item .product-image {
  margin: 16px 8px;
}

/* _____________VITRINE_____________ */
.vitrine .col {
  flex: 0;
}

.container-vitrine-produtos {
  display: block;
  max-width: 1080px;
  margin: 0 auto;
}

.vitrine-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
}

.container-vitrine-produtos h4,
.not-found-title {
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding-top: 100px;
  color: #8e5644;
  margin-bottom: 1.5rem;
}

.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card-content {
  min-width: 15rem;
  text-align: center;
  border: 1px solid #80808040;
  border-radius: 8px;
  padding: 16px;
}

.card-content h5 {
  font-weight: 300;
  height: 24px;
  overflow: hidden;
  margin-bottom: 2px;
}

.card-content p {
  font-size: 0.85rem;
  color: grey;
}

.product-image {
  width: 8rem;
  margin: 30px auto 16px auto;
}

/* _____________NAVBAR_____________ */
.nav-container {
  height: 56px;
  background-color: rgb(248, 248, 248);
  justify-content: center;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.nav-content {
  max-width: 1080px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  color: #8e5644;
  font-size: 1.2rem;
  font-weight: 300;
}

.navbar-brand:hover,
.navbar-brand:focus {
  color: #7b422f;
}

.navbar-brand span {
  font-weight: 800;
}

.nav-content form {
  width: 60%;
}

.form-control {
  font-style: italic;
  font-weight: 300;
}

.form-control:focus {
  border-color: #d89e8d;
  box-shadow: none;
}
.nav-content button {
  border: none;
  background-color: transparent;
  position: relative;
}

.cart-status {
  background-color: #99dbff;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  color: #7b422f;
  font-size: 11px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* _____________LOADING_____________ */
.loading {
  margin: 100px auto 0;
  animation: spin 1s linear infinite;
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* _____________NOT FOUND_____________ */

.not-found-image-container {
  width: 100vw;
}

.not-found-image-content {
  display: flex;
  justify-content: center;
  height: 80px;
  animation: rotate 2s linear infinite;
}

@keyframes rotate{
  0%{rotate: 0deg;}
  100%{rotate: 360deg;}
}
.not-found-image {
  margin: 0 auto;
}

 .not-found-image:nth-child(1) {
  left: 157%;
}
/*.not-found-image:nth-child(2) {
  left: 137%;
}
.not-found-image:nth-child(3) {
  left: 117%;
}
.not-found-image:nth-child(4) {
  animation: replace 5s linear infinite;
  left: 97%;
}
.not-found-image:nth-child(5) {
  animation: replace 5s linear infinite;
  left: 77%;
}

@keyframes replace {
  0% {
    visibility: visible;
  }
  15% {
    visibility: hidden;
  }
  84% {
    visibility: hidden;
  }
  85% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
} */


::-webkit-scrollbar {
  width: 0px;
}