/* itens minicart */
.list-group {
  border-radius: 0;
  overflow: auto;
  flex-grow: 1;
  border-bottom: 1px solid #80808040;
}

.list-item {
  align-items: center;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #80808040;
  margin-top: 8px;
  padding-bottom: 8px;
}
.list-item:last-child {
  border-bottom: none;
}

.list-item .product-image {
  width: 5rem;
}

.list-item h5 {
  margin: 8px 0;
  width: 190px;
  height: 40px;
  overflow: hidden;
  font-size: 1rem;
}

.list-item p {
  margin: 0;
  color: grey;
}

.quantity-container {
  border: 1px solid #80808040;
  max-width: 106px;
  border-radius: 4px;
  padding: 8px;
  height: 34px;
  /* align-content: center; */
  margin: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.quantity-container .minus,
.quantity-container .plus {
  margin: 0;
  width: 20px;
}
.quantity-item {
  margin: 0;
  width: 40px;
  text-align: center;
}

.list-item button {
  display: flex;
  justify-content: right;
  background-color: transparent;
  border: none;
}

/* _____________MINICART_____________ */
/* .modal {
  display: flex !important;
  justify-content: flex-end;
} */

/* .modal-content {
  height: calc(100vh - 56px);
  border-radius: 0;
  max-width: 400px;
  position: relative;
  bottom: -56px;
  border: none;
} */

/* .modal-dialog {
  margin: 0;
} */

/* .modal-footer {
  border: none;
} */

.minicart-container {
  margin-right: 0;
  /* transform: translate(110%, 0);
  transition: all 400ms ease; */
  max-width: 400px;
  height: calc(100vh - 56px);
  right: 0;
  bottom: 0;
  display: none;
  background-color: white;
}

.minicart-container-active {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 16px;
}

/* .modal-backdrop.minicart-modal-active {
  opacity: 0;
} */
.minicart-container ::-webkit-scrollbar {
  background-color: white;
  width: 8px;
}

.minicart-container ::-webkit-scrollbar-thumb {
  background: #8e5644;
  border-radius: 50px;
}

.minicart-header {
  text-align: left;
  padding: 16px 0;
  color: #8e5644;
  border-bottom: 1px solid #80808040;
}

.minicart-footer {
  margin-bottom: 0;
  padding: 0;
}

.minicart-footer-div {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  justify-content: space-between;
}

.button-primary {
  width: 100%;
  height: 50px;
  margin: 0 auto;
  background-color: #8e5644;
  border: none;
}

.button-primary:hover {
  background-color: #7b422f;
}

.button-secondary {
  width: 100%;
  height: 50px;
  border: 1px solid #8e5644;
  color: #8e5644;
  background-color: white;
  margin: 16px auto 10px auto;
}
.button-secondary:hover {
  background-color: white;
  color: #7b422f;
  border: 1px solid #7b422f;
}

/* _____________VITRINE_____________ */
.vitrine .col {
  flex: 0;
}

.container-vitrine-produtos {
  padding: 120px 20px 50px;
  display: block;
  max-width: 1080px;
  margin: 0 auto;
}
.vitrine-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.container-vitrine-produtos h4 {
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  padding-top: 60px;
  color: #8e5644;
}

.vitrine-row-div {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.vitrine-cardboot {
  min-width: 15rem;
}

.vitrine-cardboot-title {
  font-weight: 300;
  height: 50px;
  overflow: hidden;
}

.product-image {
  width: 8rem;
  margin: 30px auto 16px auto;
}

/* _____________NAVBAR_____________ */
.navbar {
  position: fixed !important;
  width: 100% !important;
  z-index: 2;
}
.navbar-brand {
  color: #8e5644;
}
.navbar-brand:hover {
  color: #7b422f;
}

.navbar-brand span {
  font-weight: 800;
}

nav form {
  width: 60%;
}

.form-control {
  font-style: italic;
}

.form-control:focus {
  border-color: #d89e8d;
  box-shadow: none;
}
nav button {
  border: none;
  background-color: transparent;
  position: relative;
}

.cart-status {
  background-color: #99dbff;
  width: 18px;
  height: 18px;
  border-radius: 100px;
  position: absolute;
  top: 0;
  right: 0;
  color: #7b422f;
  font-size: 11px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* _____________LOADING_____________ */
.loading {
  margin: 100px auto 0;
  animation: spin 1s linear infinite;
  display: block;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
